@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
li {
    list-style: none;
  }
.header {
    background-color: rgb(251, 185, 240);
    height: 80px;
    
  }
  .header-logo{
    text-align: center;
    font-size: 80px;
    font-family: "Nico Moji"; 
    color: aliceblue;
    
  }
  .main{
    height: 480px;
    background-color: rgb(162, 243, 255);
    color:rgb(0, 234, 255);
  }
