@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
*{
  margin:0;
  padding:0;
  }
li {
    list-style: none;
  }
.header {
    background-color: rgb(253, 139, 234);
    height: 200px;
    width: 100%;
    position: fixed;
        

    
    
  }
  .header-logo{
    text-align: center;
    font-size: 80px;
    margin-top: 50px;
    font-family: "Nico Moji"; 
    color: aliceblue;
    
  }
  .main{
  
    height: 1600px;
    background-image: url("https://github.com/ibuki-0611/portfolio/blob/main/S__5570584.jpg?raw=true");
    background-size:  cover; 
    width: 100%;
    
    
  }
  nav{
    bottom: 480px;
    text-align: center;
    font-family: "Nico Moji";
    background-color: #fdc2ff;
    position: fixed;
    height: 40px;
    width: 100%;
    }
    nav ul{
    margin: 0 ;
    padding: 0 ;
    }
    nav ul li{
      font-size:40px;
    list-style: none;
    display: inline-block;
    width: 18%;
    min-width: 90px;
    }
    nav ul li a{
    text-decoration: none;
    color: #ffffff;
    }
    nav ul li.current a{
    color: #F33135;
    }
    nav ul li a:hover{
    color: #E7DA66;
    }
    .mainimage{
      padding-top: 200px;
      width:150px;
       height:150px;
       
    }
    .leftmenu{
      height: 100%;
      width: 150px;
      background-color: aliceblue;
    }
    .profile{

      
      font-size: 30px;
      
      font-family: "Nico Moji"; 
    color: rgb(0, 0, 0);
      text-align: center;
    
    }
    .headernull{
      height: 200px;
      width: 100%;
      background-color: #F33135;
    }
 @media screen and (max-width: 480px) {
      *{
        margin:0;
        padding:0;
        }
      li {
          list-style: none;
        }
      .header {
          background-color: rgb(253, 139, 234);
          height: 150px;
          width: 100%;
          position: fixed;
              
      
          
          
        }
        .header-logo{
          text-align: center;
          font-size: 50px;
          margin-top: 50px;
          font-family: "Nico Moji"; 
          color: aliceblue;
          
        }
        .main{
        
          height: 1600px;
          background-image: url("https://github.com/ibuki-0611/portfolio/blob/main/S__5570584.jpg?raw=true");
          background-size:25%; 
          width: 100%;
          
          
        }
        nav{
          text-align: center;
          font-family: "Nico Moji";
          background-color: #fdc2ff;
          position: fixed;
          height: 30px;
          width: 100%;
          top: 130px;
          }
          nav ul{
          margin: 0 ;
          padding: 0 ;
          }
          nav ul li{
            padding-top: 8px;
            font-size:14px;
          list-style: none;
          display: inline-block;
          
          min-width: 30px;
          }
          nav ul li a{
          text-decoration: none;
          color: #ffffff;
          }
          nav ul li.current a{
          color: #F33135;
          }
          nav ul li a:hover{
          color: #E7DA66;
          }
          .mainimage{
            padding-top: 75px;
            width:100px;
             height:100px;
             
          }
          .leftmenu{
            height: 100%;
            width: 150px;
            background-color: aliceblue;
          }
          .profile{
      
            
            font-size: 15px;
            
            font-family: "Nico Moji"; 
          color: rgb(0, 0, 0);
            text-align: center;
          
          }
          .headernull{
            height: 150px;
            width: 100%;
            background-color:  #fdc2ff;
          }
          
        }      
    
    
   
    
    

    
    
   
